/*RESET STYLESHEET*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* *************************************** MY CODE - GENERAL ************************************** */

* {
    text-decoration: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

.arrow {
    padding: 0 20px 0 10px;
    color: white;
}


/* *************************************** BOX LINK - MOBILE ************************************** */

.box-link {
    display: block;
    margin: 0 auto;
    background-color: rgba(13, 38, 76, 1);
    text-align: center;
    width: 55%;
    height: auto;
    padding: 20px;
    font-size: 17.5px;
    line-height: 1.5em;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px rgba (0, 0, 20, 1);
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.box-link:hover {
    background-color: rgba(0, 76, 76, 0.3);
    border: 3px solid lightgray;
    border-radius: 15px;*/
    width: 56%;
    font-size: 20px;
    padding: 22px;
}


/* *************************************** BOX LINK - TABLET ************************************** */


@media only screen and (min-width: 768px) {
    .box-link {
        width: 40%;
        padding: 25px;
        font-size: 20px;
        line-height: 1.5em;
        border-radius: 15px;
        transition: all 0.3s ease;
    }

    .box-link:hover {
        border-radius: 17.5px;
        width: 41%;
        font-size: 22px;
        padding: 27px;
    }
}


/* *************************************** BOX LINK - LAPTOP L ************************************** */


@media only screen and (min-width: 1440px) {
    .box-link {
        font-size: 22.5px;
        line-height: 1.8em;
    }

    .box-link:hover {
        font-size: 24px;
    }
}


/* *************************************** BACKGROUND BODY ***************************************** */

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Makes sure the video is behind other content */
}


/* *************************************** HEADER - MOBILE ***************************************** */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #D6E4F0;
    padding-bottom: 45px;
}

header a img {
    height: 55px;
    margin: 25px 0 10px 0;
    transition: all 0.3s ease;
}

header a img:hover {
    height: 57px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    padding-top: 15px;
}

header nav ul li a {
    font-size: 17.5px;
    color: #1A237E;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    font-size: 19.5px;
    color: darkred;
}

.nav-student,
.nav-teacher,
.nav-assessment {
    display: none;
}




/* *************************************** HEADER - TABLET ***************************************** */

@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 17.5px 0;
        
    }
    
    header a img {
        height: 65px;
        padding: 10px;
        margin-left: 10px;
    }
    
    header a img:hover {
        height: 67px;
    }
    
    header nav ul {
        justify-content: flex-end;
        padding-right: 25px;
        gap: 15px;
    }
    
    header nav ul li a {
        font-size: 20px;
        padding: 0 15px;
    }
    
    header nav ul li a:hover {
        font-size: 22px;
    }
}



/* *************************************** HEADER - TABLET ***************************************** */


@media only screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #D6E4F0;
        padding-bottom: 45px;
    }

    header a img {
        height: 85px;
        margin: 25px 0 10px 0;
        transition: all 0.3s ease;
    }

    header a img:hover {
        height: 87px;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    header nav ul li {
        padding-top: 15px;
    }

    header nav ul li a {
        font-size: 22.5px;
        color: #1A237E;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    header nav ul li a:hover {
        font-size: 24.5px;
        color: darkred;
    }

    .nav-student,
    .nav-teacher,
    .nav-assessment {
        display: inline-block;
    }
}


/* *************************************** BANNER - MOBILE ***************************************** */

.banner {
    padding: 75px 0;
    background-image: url(img/teaching1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.banner h1 {
    margin: 0 0 25px 0;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px black;
    text-align: center;
}

.banner h4 {
    display: block;
    margin: 0 auto;
    width: 65%;
    padding: 0;
    font-size: 17.5px;
    color: white;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s ease;
}

.banner h4 a {
    display: block;
    padding: 15px;
    background-color: rgba(0, 76, 153, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px darkblue;
    transition: all 0.3s ease;
}

.banner h4 a:hover {
    background-color: rgb(0, 51, 102, 0.9);
    border-radius: 15px;
    font-size: 17px;
    box-shadow: 0 0;
}




/* *************************************** BANNER - TABLET ***************************************** */

@media only screen and (min-width: 768px) {
    .banner {
        padding: 150px 0;
        background-image: url(img/teaching1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        width: 100%;
        height: auto;
    }

    .banner h1 {
        margin: 0 50px 25px 0;
        font-size: 35px;
        color: white;
        text-shadow: 5px 5px black;
        text-align: right;
    }

    .banner h4 {
        width: 35%;
        padding: 0;
        font-size: 17.5px;
        color: white;
        line-height: 30px;
        text-align: right;
        margin-left: auto;
        margin-right: 50px;
        transition: all 0.3s ease;
    }

    .banner h4 a {
        display: block;
        padding: 15px;
        background-color: rgba(0, 76, 153, 0.8);
        color: white;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: 3px 3px darkblue;
        text-align: center;
        transition: all 0.3s ease;
    }

    .banner h4 a:hover {
        background-color: rgb(0, 51, 102, 0.9);
        border-radius: 15px;
        font-size: 17px;
        box-shadow: 0 0;
    }

}




/* *************************************** BANNER - LAPTOP ***************************************** */

@media only screen and (min-width: 2000px) {
    .wrapper {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}



/* *************************************** BANNER - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {
    .banner {
        padding: 150px 0;
        background-image: url(img/teaching1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        width: 100%;
        height: auto;
    }

    .banner h1 {
        margin: 0 50px 30px 0;
        font-size: 45px;
        text-shadow: 5px 5px black;
        text-align: right;
    }

    .banner h4 {
        font-size: 25px;
        color: white;
        line-height: 35px;
        text-align: right;
        margin-left: auto;
        margin-right: 50px;
        transition: all 0.3s ease;
    }

    .banner h4 a {
        display: block;
        padding: 15px;
        background-color: rgba(0, 76, 153, 0.8);
        color: white;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: 3px 3px darkblue;
        text-align: center;
        transition: all 0.3s ease;
    }

    .banner h4 a:hover {
        background-color: rgb(0, 51, 102, 0.9);
        border-radius: 15px;
        font-size: 26px;
        box-shadow: 0 0;
    }

}



/* *************************************** MAIN2 - MOBILE ***************************************** */


.main2 {
    background-color: rgba(55, 98, 166, 0.9);
    padding-bottom: 45px;
}

.main2 h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-size: 22.5px;
    color: white;
}

.main2 h4 {
    text-align: justify;
    padding: 0 20px;
    font-size: 17.5px;
    color: white;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 30px;
}

.main2 .image1-laptop {
    display: none;
}

.main2 .inbox-image1 {
    display: none;
}



/* *************************************** MAIN2 - TABLET ***************************************** */


@media only screen and (min-width: 768px) {
    .main2 {
        padding-bottom: 45px;
    }

    .main2 h2 {
        padding: 50px 0 30px 0;
        font-size: 25px;
    }

    .main2 h4 {
        padding: 0 50px;
        font-size: 20px;
        line-height: 2em;
        padding-bottom: 40px;
    }
}




/* *************************************** MAIN2 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {
    .main2 {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
    
    .main2 h2 {
        font-size: 30px;
    }
    
    .main2 h4 {
        font-size: 22.5px;
    }
}


/* *************************************** MAIN2 - LAPTOP L ***************************************** */

@media only screen and (min-width: 1440px) {
    .main2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        border-radius: 0;
    }
    
    .inbox-main2 {
        flex: 1;
    }
    
    .inbox-image1 {
        display: block !important;
        flex: 1;
        text-align: center;
    }
    
    .inbox-image1 img {
        max-width: 90%;
        border-radius: 10px;
        height: 600px;
    }
    
    .main2 h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .main2 h4 {
        font-size: 22.5px;
        text-align: justify;
        line-height: 1.8em;
    }
}




/* *************************************** IMAGE1 - MOBILE ***************************************** */

.image1 {
    width: 100%;
    height: auto;
    background-image: url(img/teaching4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.image1 h1 {
    text-align: center;
    align-content: center;
    font-size: 25px;
    line-height: 1.5em;
    color: white;
    text-shadow: 5px 5px black;
    padding: 50px 25px;
}



/* *************************************** IMAGE1 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {    
    .image1 {
        background-position: center;
    }

    .image1 h1 {
        font-size: 30px;
        line-height: 1.5em;
        padding: 125px 25px;
    }

}



/* *************************************** IMAGE1 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {    
    .image1 {
        display: none;
    }

}




/* *************************************** MAIN3 - MOBILE ***************************************** */

.main3 {
    background-color: rgba(45, 78, 146, 0.9);
    padding-bottom: 45px;
}

.main3 h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-size: 22.5px;
    color: white;
}

.main3 h4 {
    text-align: justify;
    padding: 0 20px;
    font-size: 17.5px;
    color: white;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 30px;
}

.main3 .inbox-image2 {
    display: none;
}



/* *************************************** MAIN3 - TABLET ***************************************** */


@media only screen and (min-width: 768px) {
    .main3 {
        padding-bottom: 45px;
    }

    .main3 h2 {
        padding: 50px 0 30px 0;
        font-size: 25px;
    }

    .main3 h4 {
        padding: 0 50px;
        font-size: 20px;
        line-height: 2em;
        padding-bottom: 40px;
    }
}




/* *************************************** MAIN3 - LAPTOP ***************************************** */



@media only screen and (min-width: 1024px) {
    .main3 {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
}



/* *************************************** MAIN3 - LAPTOP L ***************************************** */

@media only screen and (min-width: 1440px) {
    .main3 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        border-radius: 0;
    }
    
    .inbox-main3 {
        flex: 1;
        padding-right: 30px;
    }
    
    .inbox-image2 {
        display: block !important;
        flex: 1;
        text-align: center;
    }
    
    .inbox-image2 img {
        max-width: 90%;
        border-radius: 10px;
        height: 500px;
        margin-top: 50px;
    }
    
    .main3 h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .main3 h4 {
        font-size: 22.5px;
        text-align: justify;
        line-height: 1.8em;
    }
}



/* *************************************** IMAGE2 - MOBILE ***************************************** */

.image2 {
    width: 100%;
    height: auto;
    background-image: url(img/teaching6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.image2 h1 {
    text-align: left;
    align-content: center;
    font-size: 20px;
    line-height: 1.5em;
    color: #F0F8FF;
    text-shadow: 3px 3px black;
    padding: 50px 15px;
}




/* *************************************** IMAGE2 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {    
    .image2 {
        background-position: center;
    }

    .image2 h1 {
        font-size: 30px;
        line-height: 1.5em;
        padding: 125px 25px;
    }

}



/* *************************************** IMAGE2 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {    
    .image2 {
        display: none;
    }
}





/* *************************************** MAIN4 - MOBILE ***************************************** */

.main4 {
    background-color: rgba(55, 98, 166, 0.9);
    padding-bottom: 45px;
}

.main4 h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-size: 22.5px;
    color: white;
    line-height: 1.5em;
}

.main4 h4 {
    text-align: justify;
    padding: 0 20px;
    font-size: 17.5px;
    color: white;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 30px;
}

.inbox-image3 {
    display: none;
}


/* *************************************** MAIN4 - TABLET ***************************************** */


@media only screen and (min-width: 768px) {
    .main4 {
        padding-bottom: 45px;
    }

    .main4 h2 {
        padding: 50px 0 30px 0;
        font-size: 25px;
    }

    .main4 h4 {
        padding: 0 50px;
        font-size: 20px;
        line-height: 2em;
        padding-bottom: 40px;
    }
}




/* *************************************** MAIN4 - LAPTOP ***************************************** */



@media only screen and (min-width: 1024px) {
    .main4 {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
}




/* *************************************** MAIN4 - LAPTOP L ***************************************** */

@media only screen and (min-width: 1440px) {
    .main4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        border-radius: 0;
        padding-top: 20px;
    }
    
    .inbox-main4 {
        flex: 1;
        padding-right: 0;
    }
    
    .inbox-image3 {
        display: block !important;
        flex: 1;
        text-align: center;
    }
    
    .inbox-image3 img {
        max-width: 90%;
        border-radius: 10px;
        height: 500px;
    }
    
    .main4 h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .main4 h4 {
        font-size: 22.5px;
        text-align: justify;
        line-height: 1.8em;
    }
}





/* *************************************** IMAGE3 - MOBILE ***************************************** */

.image3 {
    width: 100%;
    height: auto;
    background-image: url(img/teaching7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.image3 h1 {
    text-align: center;
    align-content: center;
    font-size: 20px;
    line-height: 1.5em;
    color: #F0F8FF;
    text-shadow: 3px 3px black;
    padding: 75px 15px;
}



/* *************************************** IMAGE3 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {    
    .image3 {
        background-position: top;
    }

    .image3 h1 {
        font-size: 30px;
        line-height: 1.5em;
        padding: 125px 25px;
    }

}





/* *************************************** IMAGE3 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {    
    .image3 {
        display: none;
    }
}




/* *************************************** MAIN5 - MOBILE ***************************************** */

.main5 {
    background-color: rgba(45, 78, 146, 0.9);
    padding-bottom: 50px;
}

.main5 h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-size: 22.5px;
    color: white;
    line-height: 1.5em;
}

.slideshow {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #A9BEFE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: 100%; /* Ensures the slides container does not overflow */
    transform: translateX(0); /* Correct initial position */
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%; /* Each slide takes full width of the container */
    box-sizing: border-box;
    padding: 20px;
}

.slide h3 {
    margin: 10px 0;
    font-size: 19px;
    color: rgb(0, 0, 75);
    text-align: center;
}

.slide p {
    line-height: 1.5em;
    font-size: 17.5px;
    text-align: justify;
    padding: 0 25px;
    color: #333;
}

.slide .stars {
    color: gold;
    padding: 15px 0;
    font-size: 25px;
    text-align: center;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.controls button {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}

.dots {
    text-align: center;
    margin: 10px 0;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.assessment {
    margin-top: 50px;
}






/* *************************************** MAIN5 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {

    .main5 h2 {
        padding: 50px 0 30px 0;
        font-size: 25px;
    }

    .slideshow {
        width: 85%;
        border-radius: 15px;
    }

    .slides {
        display: flex;
        width: 100%; /* Ensures the slides container does not overflow */
        transform: translateX(0); /* Correct initial position */
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        padding: 25px;
    }

    .slide h3 {
        font-size: 22.5px;
    }

    .slide p {
        line-height: 1.75em;
        font-size: 20px;
        padding: 0 40px;
    }

    .slide .stars {
        padding: 25px 0;
        font-size: 30px;
    }

    .controls button {
        padding: 20px;
        border-radius: 30%;
    }
}




/* *************************************** MAIN5 - LAPTOP ***************************************** */



@media only screen and (min-width: 1024px) {
    .main5 {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
}




/* *************************************** MAIN5 - LAPTOP L ***************************************** */



@media only screen and (min-width: 1440px) {
    .main5 {
        display: block;
        margin: 0 auto;
        width: 97.5%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
    
    .main5 h2 {
        font-size: 30px;
    }
    
    .slideshow {
        width: 70%;
        border-radius: 15px;
    }
    
    .slide p {
        line-height: 1.8em;
        font-size: 22.5px;
        padding: 0 60px;
    }
}




/* *************************************** IMAGE4 - MOBILE ***************************************** */

.image4 {
    width: 100%;
    height: auto;
    background-image: url(img/teaching10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.image4 h1 {
    text-align: center;
    align-content: center;
    font-size: 20px;
    line-height: 1.5em;
    color: #F0F8FF;
    text-shadow: 3px 3px black;
    padding: 75px 15px;
}




/* *************************************** IMAGE4 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {    
    .image4 {
        background-position: top;
    }

    .image4 h1 {
        font-size: 30px;
        line-height: 1.5em;
        padding: 125px 25px;
    }

}


/* *************************************** IMAGE4 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {    
    .image4 {
        display: none;
    }
}





/* *************************************** MAIN6 - MOBILE ***************************************** */

.main6 {
    background-color: rgba(55, 98, 166, 0.9);
    padding-bottom: 50px;
}

.main6 h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-size: 22.5px;
    color: white;
    line-height: 1.5em;
}

.contact-cards {
    
}

.contact-card {
    display: block;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 30px;
    width: 60%;
    border-radius: 20%;
    text-align: center;
    transition: all 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    background-color: #00008B;
    color: white;
}

.contact-card h3, .contact-card h5, .contact-card i {
    padding: 10px 0;
    transition: color 0.3s ease; /* Smooth text color transition */
}

.contact-card:hover h3,
.contact-card:hover h5,
.contact-card:hover i {
    color: white; /* Text and icon color change to white */
}

.contact-card i {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.contact-card:hover i {
    background-color: white; /* Icon background changes to white */
    color: darkblue; /* Icon color changes to dark blue */
    margin-bottom: 20px;
    transform: scale(1.1);
}

.contact-card h3 {
    font-size: 25px;
    color: darkblue;
}

.contact-card h5 {
    font-size: 17.55px;
    color: #3A6EA5;
    font-weight: normal;
}

.address {
    margin-top: 30px;
}

.hours h5 {
    line-height: 1.5em;
}






.contact-form {
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(135, 158, 226, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #113b6f;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
    margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #2C5282;
  outline: none;
}

textarea {
  resize: none;
}

.submit-btn {
  background: #2C5282;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background: #1E3A8A;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 1.8rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }
}










/* *************************************** MAIN6 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {
    .main6 {
        padding-bottom: 75px;
    }

    .main6 h2 {
        padding: 75px 0 50px 0;
        font-size: 30px;
    }
    
    .contact-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 5px;
    }

    .contact-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 30px;
        width: 35%;
        height: auto;
        aspect-ratio: 1;
        border-radius: 20%;
        text-align: center;
        transition: all 0.3s ease;
    }

    .contact-card:hover {
        transform: translateY(-10px);
        background-color: #00008B;
        color: white;
    }

    .contact-card h3, .contact-card h5, .contact-card i {
        padding: 10px 0;
        transition: color 0.3s ease; /* Smooth text color transition */
    }

    .contact-card:hover h3,
    .contact-card:hover h5,
    .contact-card:hover i {
        color: white; /* Text and icon color change to white */
    }

    .contact-card i {
        background-color: darkblue;
        color: white;
        font-size: 20px;
        padding: 15px;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: all 0.3s ease;
    }

    .contact-card:hover i {
        background-color: white; /* Icon background changes to white */
        color: darkblue; /* Icon color changes to dark blue */
        margin-bottom: 20px;
        transform: scale(1.1);
    }

    .contact-card h3 {
        font-size: 27.5px;
        color: darkblue;
    }

    .contact-card h5 {
        font-size: 19px;
        color: #3A6EA5;
        font-weight: normal;
        line-height: 1.75em;
    }







    .contact-form {
        width: 75%;
        border-radius: 15px;
        padding: 30px;
    }

    .form-group label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
      color: #113b6f;
    }

    .form-group input,
    .form-group textarea {
      width: 90%;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
        margin-bottom: 20px;
      transition: border-color 0.3s ease;
    }

    .form-group input:focus,
    .form-group textarea:focus {
      border-color: #2C5282;
      outline: none;
    }

    textarea {
      resize: none;
    }

    .submit-btn {
        display: block;
        margin: 0 auto;
      background: #2C5282;
      color: white;
      padding: 20px 40px;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
        font-size: 20px;
      transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
      background: #1E3A8A;
    }
    
    .submit-btn {
        display: block;
        margin: 0 auto;
        background-color: rgba(13, 38, 76, 1);
        text-align: center;
        width: 55%;
        height: auto;
        padding: 20px;
        font-size: 17.5px;
        line-height: 1.5em;
        color: white;
        border-radius: 10px;
        box-shadow: 4px 4px rgba (0, 0, 20, 1);
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s ease;
    }

    .submit-btn:hover {
        background-color: rgba(0, 76, 76, 0.3);
        border: 3px solid lightgray;
        border-radius: 15px;*/
        width: 56%;
        font-size: 20px;
        padding: 22px;
    }
}




/* *************************************** MAIN6 - LAPTOP ***************************************** */



@media only screen and (min-width: 1024px) {
    .main6 {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5%;
    }
    
    .contact-cards {
        gap: 0px;
    }

    .contact-card {
        flex: 1 1 calc(100% - 10px);
        margin: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 10px;
        width: 30%;
        max-width: 285px;
    }

    .contact-card h3, .contact-card h5, .contact-card i {
        padding: 8px 0;
        transition: color 0.3s ease; /* Smooth text color transition */
    }

    .contact-card:hover h3,
    .contact-card:hover h5,
    .contact-card:hover i {
        color: white; /* Text and icon color change to white */
    }

    .contact-card i {
        background-color: darkblue;
        color: white;
        font-size: 18px;
        padding: 12px;
        border-radius: 50%;
        margin-bottom: 12.5px;
        transition: all 0.3s ease;
    }

    .contact-card:hover i {
        background-color: white; /* Icon background changes to white */
        color: darkblue; /* Icon color changes to dark blue */
        margin-bottom: 15px;
        transform: scale(1.1);
    }

    .contact-card h3 {
        font-size: 25px;
        color: darkblue;
    }

    .contact-card h5 {
        font-size: 17.5px;
        color: #3A6EA5;
        font-weight: normal;
        line-height: 1.75em;
    }







    .contact-form {
        width: 75%;
        border-radius: 15px;
        padding: 30px;
    }

    .form-group label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
      color: #113b6f;
    }

    .form-group input,
    .form-group textarea {
      width: 90%;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
        margin-bottom: 20px;
      transition: border-color 0.3s ease;
    }

    .form-group input:focus,
    .form-group textarea:focus {
      border-color: #2C5282;
      outline: none;
    }

    textarea {
      resize: none;
    }

    .submit-btn {
        display: block;
        margin: 0 auto;
      background: #2C5282;
      color: white;
      padding: 20px 40px;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
        font-size: 20px;
      transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
      background: #1E3A8A;
    }
    
    .submit-btn {
        display: block;
        margin: 0 auto;
        background-color: rgba(13, 38, 76, 1);
        text-align: center;
        width: 55%;
        height: auto;
        padding: 20px;
        font-size: 17.5px;
        line-height: 1.5em;
        color: white;
        border-radius: 10px;
        box-shadow: 4px 4px rgba (0, 0, 20, 1);
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s ease;
    }

    .submit-btn:hover {
        background-color: rgba(0, 76, 76, 0.3);
        border: 3px solid lightgray;
        border-radius: 15px;*/
        width: 56%;
        font-size: 20px;
        padding: 22px;
    }
}





/* *************************************** MAIN - LAPTOP L ***************************************** */

@media only screen and (min-width: 1400px) {
    .main6 {
        width: 97.5%;
        margin: 30px auto;
        border-radius: 5%;
    }
    
    .main6 .inbox-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    /* Left side: Contact Cards */
    
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
        flex: 1;
        margin-left: 40px;
    }
    
    .contact-card {
        width: 75%;
        height: auto;
        text-align: center;
    }
    
    
    /* Right side: Contact Form */
    
    .contact-form {
        flex: 1;
        width: 90%;
        border-radius: 10px;
        margin: 5px 50px 0 25px;
        padding: 30px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .form-group label {
        color: white;
        font-size: 22.5px;
    }
    
    .form-group input,
    .form-group textarea {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: all 0.3s ease;
    }
    
    .form-group input {
        width: 80%;
    }
    
    .form-group textarea {
        width: 80%;
    }
}



/* *************************************** MAIN7 - MOBILE ***************************************** */


.main7 {
    background-image: url(img/location.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

.main7 h2 {
    text-align: center;
    padding: 75px 0 50px 0;
    font-size: 22.5px;
    color: white;
}

.main7 .branch-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.main7 .branch-box .branches {
    background-color: rgba(135, 158, 226, 0.9);
    height: auto;
    width: 80%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main7 .branch-box .branches h3,
.main7 .branch-box .branches h4 {
    color: seashell;
    text-align: center;
}

.main7 .branch-box .branches h3 {
    font-size: 21px;
    padding-top: 30px;
    line-height: 1.5em;
}

.main7 .branch-box .branches section {
    font-size: 19px;
    padding: 15px;
    margin-top: 15px;
}

.main7 .branch-box .branches section h4 {
    padding: 15px 10px;
    font-weight: 500;
    line-height: 1.5em;
}

.main7 .branch-box .branches section .long-address {
    padding: 10px 10px;
}

.main7 .branch-box .branches section .google-maps-link {
    display: inline-block;
    text-align: center;
    font-size: 17.50px;
    color: #fff;
    font-weight: 500;
    background-color: rgba(100, 115, 235, 1);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.main7 .branch-box .branches section .google-maps-link:hover {
    background-color: rgba(0, 76, 76, 0.3);
    padding: 21px;    
    font-size: 18px;
    border: 5px solid lightgray;
    border-radius: 20px;
}





/* *************************************** MAIN7 - TABLET ***************************************** */

@media only screen and (min-width: 768px) {
    .main7 {
        background-position: right;
        padding-bottom: 75px;
    }

    .main7 h2 {
        font-size: 30px;
    }

    .main7 .branch-box .branches h3 {
        font-size: 27.5px;
    }
    
    .main7 .branch-box .branches section {
        font-size: 22.5px;
        padding: 10px;
    }

    .main7 .branch-box .branches section .google-maps-link {
        font-size: 22.5px;
        border-radius: 15px;
        padding: 25px;
        transition: all 0.3s ease;
    }

    .main7 .branch-box .branches section .google-maps-link:hover {
        padding: 26px;    
        font-size: 24.5px;
        border-radius: 25px;
    }
}






/* *************************************** MAIN7 - LAPTOP ***************************************** */

@media only screen and (min-width: 1024px) {
    .main7 h2 {
        font-size: 35px;
        text-shadow: 2px 2px black;
    }
    
    .main7 .branch-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 30px;
        margin: 0 auto;
        width: 90%;
    }
    
    .main7 .branch-box .branches {
        width: 40%;
        padding: 25px;
    }
    
    .main7 .branch-box .branches h3 {
        font-size: 24px;
        padding-top: 20px;
    }
    
    .main7 .branch-box .branches section {
        font-size: 20px;
    }
    
    .main7 .branch-box .branches section .google-maps-link {
        font-size: 20px;
        padding: 20px;
        border-radius: 10px;
    }
    
    .main7 .branch-box .branches section .google-maps-link:hover {
        padding: 22px;    
        font-size: 22px;
        border-radius: 20px;
    }
}


/* *************************************** FOOTER - MOBILE *********************************************** */

footer {
    background-color: rgba(15, 28, 76, 1);
    height: auto;
}

footer a img {
    display: block;
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
    height: 50px;
}

footer nav ul  {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

footer nav ul li {
    padding: 0 20px;
}

footer nav ul li a {
    font-size: 17.5px;
    color: seashell;
    transition: all 0.3s ease;
}

footer nav ul li a:hover {
    font-size: 18.5px;
    color: lightcyan;
}

.footer-arrow {
    background-color: lightblue;
    padding: 10px;
    border-radius: 15%;
    display: block;
    margin: 0 auto;
    width: 7.5%;
    margin-top: 25px;
    transition: all 0.3 ease;
}

.footer-arrow:hover {
    background-color: #0a88b2;
    padding: 11px;
    border-radius: 16%;
    width: 8%;
}

.footer-arrow p {
    color: rgba(15, 28, 76, 1);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

footer .copyright {
    color: white;
    text-align: left;
    font-weight: normal;
    margin-top: 50px;
    padding: 10px;
    font-size: 12.5px;    
}




/* *************************************** FOOTER - TABLET *********************************************** */

@media only screen and (min-width: 768px) {

    footer a img {
        height: 75px;
    }

    footer nav ul  {
        padding: 10px 17.5px;
    }

    footer nav ul li {
        padding: 0 20px;
    }

    footer nav ul li a {
        font-size: 22.5px;
        color: seashell;
        transition: all 0.3s ease;
    }

    footer nav ul li a:hover {
        font-size: 24.5px;
        color: lightcyan;
    }
    
    
    .footer-arrow {
        margin-top: 50px;
    }

    .footer-arrow p {
        font-size: 45px;
    }

    footer .copyright {
        margin-top: 100px;
        padding: 15px;
        font-size: 17.5px;    
    }

}





























